[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Conky Manager
Name[el]=Διαχειριστής του Sparky Conky
Name[es]=Administrador de Conky
Name[fr]=Gestionnaire pour Conky
Name[id]=Manajer Conky
Name[it]=Gestore Conky
Name[ja]=Conky マネージャー
Name[pl]=Conky Menadżer
Name[pt_BR]=Gerenciador do Conky
Name[pt_PT]=Gestor Conky
Name[sv]=Conky-hanteraren
Name[uk]=Менеджер Conky
GenericName=Conky Manager
Comment=Launch, stop or edit Sparky Conky
Comment[de]=Sparky Conky starten, beenden oder bearbeiten
Comment[el]=Εκκίνηση, τερματισμός και επεξεργασία του Sparky Conky
Comment[es_AR]=Lanza, detiene o edita Sparky Conky
Comment[es_ES]=Inicia, detiene o edita Sparky Conky
Comment[fi]=Käynnistä, pysäytä tai muokkaa Sparky Conkya
Comment[fr]=Lance, arrête ou édite Sparky Conky
Comment[id]=Luncurkan, hentikan atau edit Conky Sparky
Comment[it]=Lancia, ferma o modifica Sparky Conky
Comment[ja]=Sparky Conky の起動・終了・編集
Comment[pl]=Uruchom, zatrzymaj lub edytuj Sparky Conky 
Comment[pt_BR]=Inicializar, para ou editar o Conky do Sparky
Comment[pt_PT]=Iniciar, parar ou editar Sparky Conky
Comment[ru]=Запустить, остановить или отредактировать Sparky Conky
Comment[sv]=Starta, stoppa eller redigera Sparky Conky
Comment[uk]=Запустити, зупинити або відредагувати Sparky Conky
Exec=/usr/bin/sparky-conky
Icon=conky
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;Utility;
