[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Conky Manager
Name[es]=Administrador de Conky
Name[fr]=Gestionnaire pour Conky
Name[id]=Manajer Conky
Name[ja]=Conky マネージャー
Name[pl]=Conky Menadżer
Name[pt_BR]=Gerenciador do Conky
Name[pt_PT]=Gestor Conky
Name[sv]=Conky-hanteraren
GenericName=Conky Manager
Comment=Launch, stop or edit Sparky Conky
Comment[es]=Lanza, detiene o edita Sparky Conky
Comment[fr]=Lance, arrête ou édite Sparky Conky
Comment[id]=Luncurkan, hentikan atau edit Conky Sparky
Comment[it]=Lancia, ferma o modifica Sparky Conky
Comment[ja]=Sparky Conky の起動・終了・編集
Comment[pl]=Uruchom, zatrzymaj lub edytuj Sparky Conky 
Comment[pt_BR]=Inicializar, para ou editar o Conky do Sparky
Comment[pt_PT]=Iniciar, parar ou editar Sparky Conky
Comment[sv]=Starta, stoppa eller redigera Sparky Conky
Exec=/usr/bin/sparky-conky
Icon=conky
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;Utility;
